.contenedor {
    width: 100%;
}

.contenedorViz {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: scroll;
}

.subContenedorViz {
    margin: 10px;
}

.contenedorMenu {
    display: inline-block;
    width: 30%;
    background-color: #636363;
    height: calc(100vh - 56px);
    overflow-y: scroll;
}
