.tituloViz {
    font-size: 20px;
    margin: -10px;
    position: absolute;
    padding: 10px;
    background-color: white;
    width: calc(70% - 40px);
    z-index: 8;
}
.contenedorMaximoViz {
    width: fit-content;
    min-width: 100%;
}
