.buscado {
  height: 40px;
  width: 40px;
  border: solid 5px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.5s;
}

.buscado:hover {
  height: 45px;
  width: 45px;
}

.lineas {
  height: 50px;
  width: 100%;
  display: block;
}
.linea {
  stroke-width: 3px;
  width: 100%;
}

.contenedorGrupos {
  text-align: center;
  min-width: max-content;
}
