.buscado {
  height: 40px;
  width: 40px;
  border: solid 5px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.5s;
}

.buscado:hover {
  height: 45px;
  width: 45px;
}

.contenedorPrimerGrupo {
  width: fit-content;
  margin: 0 auto;
}
