.contenedorGrupos {
  text-align: center;
  min-width: max-content;
}

.contenedorGrupo {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: min-content;
  min-width: 30px;
}

.tru {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid 2.5px;
  margin: 0 5px -5px 5px;
  transition: all 0.5s;
  display: inline-block;
}

.contenedorSvg {
  width: 100%;
  height: 50px;
}

.tru:hover {
  height: 25px;
  width: 25px;
}
