.contenedorGrupo {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  min-width: 30px;
}

.tru {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid 2.5px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.5s;
}

.tru:hover {
  height: 25px;
  width: 25px;
}
