.contenedorGrupos {
  text-align: center;
  min-width: max-content;
}

.contenedorGrupo {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: min-content;
  min-width: 30px;
}
