.contenedorFlecha {
    margin: 80px 0 0 0;
    position: absolute;
    z-index: 10;
}

.textoEje {
    font-size: 12px;
}

.tiempo {
    position: absolute;
    transform: rotate(-90deg);
    margin-top: calc((100vh - 230px) / 2);
    margin-left: -20px;
}

.lineaFlecha {
    width: 2px;
    height: calc(100vh - 230px);
    margin: 5px auto 0 auto;
    background-color: black;
}

.flecha {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    margin: 0 auto;
}
